body{
    background-color: rgb(223, 64, 53);
    
}
section{
    background-color: white;
    padding: 15px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
}
header{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#res{
    margin-top: 10px;
}
footer{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
}